
/* BODY SECTION */

body {
    min-block-size: 100vb;
    background-image: linear-gradient(rgb(255, 228, 230), #ccfbf1);
    font-family: sans-serif;
    line-height: 1.5;
}
body h2 {
    color:rgb(255, 255, 255);
}

H2 { 
    text-align: center;
    border-radius: 15px 50px;
    background: #44c3bf;
    padding: 20px; 
    width: 180px;
    height: 100px; 
}

.introduction {
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    color: #0f1010;
    margin-top: 2rem;
    flex-wrap: wrap;
}

/*HEADER ELEMENTS*/

.header {
    position: static;
    display: flex;
    height: auto;
    background-color: rgb(68, 195, 191);
    padding: 1rem;
    padding-block: 5rem;
    margin: 0.5rem;
    border-radius: 1rem;
    align-items: center;
    background-size: auto;
    column-gap: 0.5px;
}

.header_ul {
 
    list-style-type: none;
    display: flex;
    padding: 0.5px;
    margin: 0;
    gap: 1.8rem;
    color:rgb(10, 9, 9);
    flex-wrap: wrap;

}
.header_logo {
    font-family:sans-serif;
    padding-top: 0px;
    padding-left:0.5rem;
    padding-right: 1.5rem;
    color:rgb(255, 255, 255);
    margin:0rem;
}

/*NAV BAR ELEMENTS*/

nav a{
    color:rgba(255, 255, 255, 0.75);
    text-decoration: none;
    transition: color 0.1s ease-in-out;
    background: rgba(49, 146, 143, 0.75);
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 0.5rem;
    display: block;
}

/* ERROR: 
nav a:hoover {
    color:rgba(255, 255, 255, 0.90);
}
*/

/*FIELDSET & FLEX*/

fieldset {
    border-style:dashed;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
}

.flex-1 {
flex-direction: row;
display: flex;
}

/*BABY TEETH SECTION ,  WEANING & WEANING TABLE */

.baby-teeth {
    flex-direction: row;
    display: flex;
    }

table, th, td {
    border:0.5px solid black;
    
  }
 
.weaning{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin: 5rem;
    flex-wrap: wrap;
}

.weaning-table{
    padding-top: 10rem;
    align-items: center;
}
.weaning-table table, th, td{
    border-collapse: collapse; border-radius: 1rem;
    padding: 0.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.weaning-plan-1 {
    align-items: center;
}

.teething{
    height: 250px;
}

.ready{
flex-direction: row;
}

.feeding_table {
    justify-content: center;
    width: 100%;
    display: flex;
    padding: 1rem;
}

div#weaning {
    justify-content: center;
    width: 100%;
    gap: 5rem;
}

/*IMG CLASS*/


.img1 {
    display:flex;
    border-radius: 3rem;
    margin: 10px;
    width: 18rem;
    height: auto;
    float: none;
}


.img2 {
display: flex;
border-radius: 3rem;
max-width: 100%;
height: 20rem;
}

.img3 {
    display: flex;
    width: 350px;
    border-radius: 5rem;
    flex-wrap: wrap;


}

.img4{
    display: flex;
    border-radius: 5rem;
    text-wrap:wrap;
    width: 50%;


}

.thinking {
    margin: auto;
}

.growing{
    display: flex;
    justify-content: center;
}

/*FOOTER*/ 

footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(255, 228, 230);
    text-align: center;
}
.text-uppercase{
    text-transform: uppercase;
}

/*SOCIAL NETWORKING*/

#social-networks {
    text-align: center;
    display: flex;
    justify-content:space-between;
}
.links{
padding: 1rem;
}

.fa-facebook:before {
    content: "\f09a";
    margin: 1rem;
}

.fa-instagram:before {
    content: "\f16d";
    margin: 1rem;
}
.fa-twitter:before {
content: "\f099";
margin: 1rem;
}


/*FEEDBACK & THANK YOU PAGE*/

form{
    align-items: center;
}
.thank-you{
    text-transform: uppercase;
    text-align: center;
    padding: 10rem;
    margin: 0;
    
}

.feedback{
    flex-wrap: wrap;
}
.feeding-table {
    display: flex;
    justify-content: center;
    width: 100%;
}
.feedback_1 {
    align-items: center;
    display: flex;
}

.login{
    align-items: center;
}
form.login {
    text-align: center;
    padding-bottom: 1rem;
    justify-content: center;
    width: 100%;
}
.textarea{
    text-align: center;
    }
    
/*MEDIA QUERIES*/

/*----MAX- WIDTH 662px----*/

@media screen and (max-width: 662px)
{
    /*HEADER*/


    .header {
        flex-direction: column;
    }
    .header_ul {
        flex-wrap: wrap;
    }
    .header_logo {
    padding-bottom: 50px;
    margin: auto;
    }

    /*FROM ONE MONTH TO TWO*/
    
    .img4{
        width: 300px;
        height: 300px;
    }
    .img3{
        width: 300px;
    }

.flex-1{
    flex-direction: column;
}
 
.flex-6 {
    width: 95%;
    justify-content: center;
    display: flex;
}

  div#weanin {
    width: 300px;
  } 

}

/*----MAX- WIDTH 700px----*/

@media screen and (max-width: 700px)
{
    .textarea {
        width: 150px;
    }

    .feeding_table{
        padding: 0;
    }
}
@media screen and (max-width: 800px)
{
    
        .header_logo{
margin: 1rem;
        }
    
}
/*----MAX- WIDTH 1000px----*/

@media screen and (max-width: 1280px)
{
    .header {
           flex-direction: column;
           gap: 1rem;

        }
    
        .thinking {
            justify-content: center;
        }
   
        .ready {
            flex-direction: row;
        }

        .baby-teeth {
            flex-direction: column;
            display: flex;
        }
        .flex-1 {
            flex-direction: column;
        }
    
        .img4 {
            align-items: center;
        }
        .ready{
            flex-direction: column;
            }
}

/*----MAX- WIDTH 1470----px*/

@media screen and (max-width: 1470px)
 {
    div#weaning {
        justify-content: center;
        width: 100%;
        gap: 2rem;
        margin: 0;
        padding: 0.5rem;
    }
 }
 
 /*----MIN- WIDTH ----*/
@media screen and (min-width: 1470px)
 {
    div#weaning {
        justify-content: center;
        width: 100%;
        gap: 10rem;
    
    }
 }
 @media screen and (min-width: 1280px)
 {
     .header {
            gap: 5rem;
         }
        }